.progress_section {
    width: 94%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: mediumslateblue;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #fff;
}

.progress_bar {
    margin: 1rem auto;
    width: 90%;
    height: 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
}

.progress {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    height: 100%;
}

.percentage {
    font-weight: 700;
    color: #fff;
}